# VS Code Settings
/.vscode

# __pycache__
**/__pycache__/

# English-German Data
**/en-de/

# Raw Data
/data/en-kn/train.en
/data/en-kn/train.kn
/data/en-kn/data.tsv

# IAM Handwriting Data (too big)
/data/handwriting

# Model files
/models